.my-content{
    position: absolute;
    left: 0;
    top: 44px;
    right: 0;
    bottom: 50px;
    overflow: hidden;
    .category-left{
        width: 80px;
        height: 100%;
        background-color: skyblue;
        float: left;
        position: relative;
    }
    .category-right{
        margin-left: 90px;
        background-color: pink;
        height: 100%;
        position: relative;
    }
}