#refreshContainer {
  position: absolute;
  left: 0;
  top: 44px;
  bottom: 50px;
  right: 0;
  padding: 0 10px;
}
#refreshContainer .filter {
  width: 100%;
  display: flex;
  background-color: #eeeeee;
  height: 30px;
  margin-top: 10px;
}
#refreshContainer .filter div {
  flex: 1;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
#refreshContainer .filter div span {
  font-size: 14px;
}
#refreshContainer .filter .price {
  border-left: 5px solid #fff;
}
#refreshContainer .filter .summary {
  border-right: 5px solid #fff;
}
#refreshContainer .product {
  width: 100%;
  margin-top: 10px;
}
#refreshContainer .product > ul {
  margin-top: 10px;
}
#refreshContainer .product > ul li {
  width: 50%;
  float: left;
  padding: 5px;
}
#refreshContainer .product > ul li a {
  width: 100%;
  display: block;
  padding: 5px;
  box-shadow: 0 0 5px #cccccc;
}
#refreshContainer .product > ul li a img {
  width: 100%;
  display: block;
}
#refreshContainer .product > ul li a .product-name {
  display: block;
  height: 43px;
  overflow: hidden;
  font-size: 14px;
  color: #8f8f94;
  line-height: 18px;
  padding: 5px;
}
#refreshContainer .product > ul li a p {
  text-align: center;
}
#refreshContainer .product > ul li a p span {
  font-size: 12px;
  padding: 0 3px;
}
#refreshContainer .product > ul li a p .price-now {
  color: #e92322;
}
#refreshContainer .product > ul li a p .price-before {
  color: #8f8f94;
}
#refreshContainer .product > ul li a .buy-now {
  display: block;
  background-color: darkviolet;
  color: #ffffff;
  margin: 0 auto;
  border: none;
  margin-bottom: 10px;
}
